@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Orbitron&display=swap');

body {
    background-image: url('../images/Senhas.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    user-select: none;
    cursor: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    touch-action: manipulation;
}

#senha {
    height: 55vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 220px;
    font-family: 'Orbitron', sans-serif;
}

@media only screen and (max-width: 768px) {
    #title {
        font-size: 100px;
    }

    p {
        font-size: 50px;
    }

    #senha {
        font-size: 100px;
    }
}

@media only screen and (max-width: 480px) {
    #title {
        font-size: 50px;
    }

    p {
        font-size: 30px;
    }

    #senha {
        font-size: 50px;
    }
}